@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400..700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Source Serif 4', serif;
  font-weight: 700;
  font-optical-sizing: none;
  color: rgb(14, 35, 33);

  position: relative;
  isolation: isolate;
}

body::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgb(72, 154, 214, 0.6));
  background-attachment: fixed;
  opacity: 0.2;
  inset: 0;
  z-index: -1;
}

p, label, input, textarea, .send-message {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.01em;
  line-height: 1.5em;
}

h1,
h2 {
  letter-spacing: 0.01em;
  line-height: 1.2em;
}

h3,
li {
  letter-spacing: 0.02em;
  line-height: 1.2em;
}

h1 {
  font-size: 2.625em;
}

@media screen and (min-width: 0px) and (max-width: 365px) {
  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
  }
}

h2 {
  font-size: 2em;
}

h1, h2 {
  white-space: normal;
  word-break: break-word;
}

/* .container {
  max-width: 1535px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  height: 100%;
} */

.selected {
  @apply bg-[#469BD1] text-white;
}

.current {
  @apply bg-[white] text-[rgb(14,35,33)] rounded-[42px];
}