.welcomeSection {
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.welcomeSection h1 {
  margin-top: 27px;
  margin-bottom: 36px;
}

.welcomeLeft p {
  width: 88%;
}

.welcomeLeft div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.welcomeCTA div {
  display: flex;
}

.welcomeImageContainer img {
  border-radius: 10px;
  object-fit: cover;
  width: 443.05px;
  height: 473.54px;
}